@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'IconFonts';
	src:url('fonts/IconFonts.eot?z5p425');
	src:url('fonts/IconFonts.eot?#iefixz5p425') format('embedded-opentype'),
		url('fonts/IconFonts.woff?z5p425') format('woff'),
		url('fonts/IconFonts.ttf?z5p425') format('truetype'),
		url('fonts/IconFonts.svg?z5p425#IconFonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'IconFonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
	content: "\e600";
	margin-right: .5em;
}
.icon-dislike:before {
	content: "\e601";
	margin-right: .5em;
}
.icon-arrow-down:before {
	content: "\e604";
}
.icon-arrow-up:before {
	content: "\e605";
}
.icon-star:before {
	content: "\e602";
	margin-right: .3em;
	position: relative;
	top: .15em;
}
.icon-pencil:before {
	content: "\e603";
	margin-right: .5em;
}


a
{
	color: #22BCE0;
	text-decoration: none;
}
body
{
	background: #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
footer
{
	background: #22BCE0;
	text-align: center;
	color: white;
	padding: 1em;
}
footer p:first-child
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;

}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}
header
{
	background: #344B54;
	color: white;
	position: relative;
	overflow: hidden;
}
header figure
{
	float: left;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 30px 100px 0 0; 
}
header #avatar
{
	/*margin: 0.5em 0.5em 0 0;*/
	position: absolute;
	right: 0;
	top: 0;


}
header #avatar img
{
	border-radius: 50%;
	transition:.3s;
	width: 55px;
	
}
header #avatar img:hover
{
	transform: scale(1.1);

}
header #logo
{
	border-right: 1px;
	padding-right: 2em;
	margin-right: 0.5em;
}
header #logo img
{
	transition:.5s;
	width: 52px;
}
header #logo img:hover
{
	transform:  rotate(360deg);
}
nav
{
	background: #5675AD;
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 0 6em 0 .5em;
}
nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0; 
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	transition: .3s;
}
nav ul li a:hover
{
	background: #344B54;
}
nav ul #publicar_nav
{
	position: absolute;
	
	right: -0.5em;
	top: -0.1em;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.8em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
}
nav ul #publicar_nav a:hover
{
	box-shadow: 0 0 25px #22BCE0;
}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}
#contenido .item .autor_item
{
	color: #AAA;
}
#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
}
#contenido .item .datos_item .fecha_item
{
	float: right;
	color: #AAA;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
    border-radius: 0.5em;
	color: white;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;

}
#contenido .item .imagen_item
{
	margin-left: 0;
	margin-right: 1em;
	margin-top: 0;
	float: left;
}

#contenido .item .imagen_item img
{
	width: 100.5px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 0;
	padding: 1em 1em 0 0 ; 

}
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 2%;
	padding: 0.2em 0.5em;
	position: absolute;
	right: 2%;
	top: 102%;
}
#contenido .item .votacion .guardar_item
{
	color: #E6DD1D;
	padding-right: 3px;	
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}
#contenido .item .votacion .down
{
	color: #CC162C;
	
}
#contenido .item .votacion .up
{
	color: #169C21;
}

@media screen and (min-width: 800px){
	#contenido
	{
		overflow: hidden;
	}
	#contenido .item
	{
		float: left;
		width: 49%;
	}
	#contenido .item:nth-child(odd)
	{
		margin-right: 2%;
	}
}
/* :: FORMULARIO :: */
.form
{
	padding: 1em;
	text-align: right;
	display: none;
}
.form input
{
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 0.2em 0.6em;
}
.form input[type="Submit"]
{
	background: #22BCE0;
	border-color: #22BCE0;
	box-shadow: rgba(0,0,0,0.3) 5px 5px 20px;
	color: white;
	font-style: italic;
	text-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
}